body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.app {
  min-height: 100vh;
  padding: 30px;
  transition: 0.4s;
  background-size: cover;
}


.app.light {
  background-image: url(image_1_1770065557067.jpg);
}


.app.dark {
  background-image: url(image_1_1770065178686.jpg);
}

.card {
  max-width: 700px;
  margin: auto;
  background: rgba(255,255,255,0.9);
  border-radius: 20px;
  padding: 20px;
  backdrop-filter: blur(10px);
}

.app.dark .card {
  background: rgba(44, 44, 44, 0.9);
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #c05c8e;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background: #f3c1d9;
  border-radius: 10px;
}

.app.dark th {
  background: #3a3a3a;
}

tr {
  background: white;
}

.app.dark tr {
  background: #2a2a2a;
}

.done {
  text-decoration: line-through;
  opacity: 0.6;
}

.inputs {
  display: flex;
  gap: 8px;
  margin-top: 15px;
}

input, select {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  background: #c05c8e;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  cursor: pointer;
}
.nav button {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
  color: #c05c8e;
}

.progress-box {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: conic-gradient(
    #c05c8e var(--percent),
    #eee 0
  );
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

.app.dark .circle {
  background: conic-gradient(
    #f3a6c8 var(--percent),
    #333 0
  );
}

.actions button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
